<% layout('layouts/boilerplate') %>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input value="<%= campground.title %>" type="text" name="campground[title]" id="title"
            placeholder="Title of the camp">
    </div>
    <div>
        <label for="location">Location</label>
        <input value="<%= campground.location %>" type="text" name="campground[location]" id="location"
            placeholder="Where's it at?">
    </div>
    <button>Edit Camp</button>
</form>