<% layout('layouts/boilerplate') %>
<h1>ALL campgrounds!!!</h1>
<p><a href="/campgrounds/new">Add a campground</a></p>
<ul>
    <% for(let campground of campgrounds) {%>
    <li><%= campground.location %> - <a href="/campgrounds/<%= campground._id %> "><%= campground.title %></a></li>
    <% } %>
</ul>